page-info {

  a {
    pointer-events: none;
    cursor: default;
  }

ul {
  display:block;
  margin-left: 1px;

}
  .linea {
display:block;
 float:left;
 margin-left: 8px;

}
.direccion {
  display:block;
  display: inline-block;
   float:center;
   text-align: center;

   margin-left: 60px;
}
.minutos {
display:block;
display: inline-block;
 float:right;
 margin-right: 1px;
}
.minutos1 {
  display:block;
  display: inline-block;
   float:right;
   margin-right: 1px;
}
.minutos2 {
  display:block;
  display: inline-block;
   float:right;
   margin-right: 1px;
}
.minutos3 {
  display:block;
  display: inline-block;
   float:right;
   margin-right: 1px;
}
.minutos4 {
  display:block;
  display: inline-block;
   float:right;
   margin-right: 1px;
}
.minutos5 {
  display:block;
  display: inline-block;
   float:right;
   margin-right: 1px;
}


.encabezado-lista {
    display:block;
  //text-align:center;
}


}
